<head>
    <title>Perfil de Usuario</title>
</head>
<body>
    <h1>Bienvenido, {{user.first_name}} {{user.last_name}}</h1>
    <p>Correo electrónico: {{user.email}}</p>
    <a href="/users/logout">Cerrar sesión</a>
</body>